<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/basic.style.css" />
  <link rel="stylesheet" href="/index.style.css" />
</head>

<body class="flex-center flex-column">
  <div class="uploadContainer flex-center flex-column">
    <form action="/upload" method="post" class="uploadForm" id="fileForm" enctype="multipart/form-data">
      <div class="input-container flex-center">
        <label for="fileuploadinput" class="uploadLabel ">upload</label>
        <input type="file" name="fileuploadinput" class="hidden" id="fileuploadinput" />
      </div>
      <div>
        <p class="error hidden" id="formError"></p>
      </div>
      <div>
        <div>
          <h3>File Information</h3>
        </div>
        <br />
        <div>
          <p id="filename" class="flex-row">
            <span>File Name :</span> <span>?</span>
          </p>
          <p id="filesize" class="flex-row">
            <span>File Size :</span> <span>?</span>
          </p>
          <p id="filetype" class="flex-row">
            <span>FileType :</span> <span>?</span>
          </p>
        </div>
      </div>
      <div class="btn-conatiner">
        <button class="button" type="submit" id="formbtn">Submit</button>
      </div>
    </form>

  </div>
  <div class="buildby flex-row flex-center">
    <p>Build With Love By </p> &nbsp;
    <img src="/red-heart_2764-fe0f.gif" width="20" alt=""> &nbsp;
    <a href="http://" target="_blank" rel="noopener noreferrer">The Captaan</a>

  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"
  integrity="sha512-06NZg89vaTNvnFgFTqi/dJKFadQ6FIglD6Yg1HHWAUtVFFoXli9BZL4q4EO1UTKpOfCfW5ws2Z6gw49Swsilsg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/index.js"></script>

</html>