<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/basic.style.css">
    <link rel="stylesheet" href="/index.style.css">
</head>
<body class="flex-center">
    <div class="uploadContainer">
        <form action="" method="post" class="uploadForm">
            <label for="fileUpload" class="uploadLabel">
                Upload A Content
            </label>
            <input type="file" class="hidden" name="" id="fileUpload">
            <div>
                <div></div>
                <div></div>
            </div>
            <button class="button">
                Submit
            </button>
        </form>
    </div>
</body>
</html>