*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.button{
    width: 100%;
    height: 40px;
    color: #ffffff;
    border: none;
    font-size: 18px;
    background-color: green;
}